.service-card {
  padding: 30px;
  display: flex;
  /* justify-content: left; */
  flex-direction: column;
  /* flex-basis: 150px; */
  /* flex-wrap: wrap; */
  background-color: var(--main-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;
  margin: 8px;
  padding: 16px;
  min-width: 350px;
  max-width: 350px;
  min-height: 350px;
}

.service-icon {
  font-size: 32px;
}

.info__detail {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-top: 36px;
}
.info__service-name {
  padding-top: 32px;
  font-size: 28px;
}
.info__deatil-item {
  padding-left: 16px;
}
.service-card__header {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  /* height: 0%; */
  align-items: center;
  flex-direction: row;
  font-size: 24px;
  max-height: 36px;
}

.service-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.card__body {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
.service-card__service-type {
  background-color: rgb(88, 164, 235);
  /* margin: 8px; */
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  color: white;
  border-radius: 12px;
}

.service-card__edit {
  background-color: rgb(236, 236, 236);
  color: rgb(88, 164, 235);
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  margin-left: 64px;
  margin-right: 64px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  border-radius: 12px;
}
