.login_body {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	align-items: center;
	height: 100vh;
    background-color: #f5f5f5;
}

.login__root {
	display: flex;
	flex-direction: column;
	max-width: 550px;
    background-color: white;
	flex-grow: 1;
	margin: auto;
    border-radius: 8px;
	box-shadow: 0 12px 25px 0 rgb(185 185 185 / 50%);
}

.input-group {
	margin-top: 50px;
	margin-bottom: 40px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title-group_info {
	font-size: 20px;
	font-weight: 10;
	text-align: center;
	/* padding-left: 30px; */
	/* margin-bottom: 15%;
  margin-top: 15%; */
}
.title-group__header {
	margin-bottom: 10%;
	margin-top: 15%;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.input-group > label,
.input-group > input {
	font-family: "IBM Plex Sans", sans-serif;
	max-width: 420px;
	text-align: left;
	width: 80%;
}
.input-group > label {
	color: #676767;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 20px;
	padding-bottom: 20px;
}
.input-group > input {
	background: #f2f2f5;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	color: #676767;
	font-size: 24px;
	height: 40px;
	outline: 0;
	padding: 0 15px;
	transition: all 0.3s;
	border-color: gray;
	display: flex;
	justify-content: center;
}

.input-group > input::placeholder {
	color: #c4c4c4;
	font-size: 24px;
}

button {
	display: flex;
	border-radius: 5px;
	background-color: #3f5ba4;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	max-width: 420px;
	outline: 0;
	padding: 10px 0;
	transition: background 0.3s;
	width: 80%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.edit-button {
	display: flex;
	justify-content: center;
	font-size: 20px;
}

.button__head {
	display: flex;
	justify-content: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

.title-grpup_otp_header {
	display: flex;
	justify-content: center;
	font-size: 24px;
	padding-bottom: 30px;
}

.title-group_otp_info {
	display: flex;
	justify-content: center;
	font-size: 20px;
	padding-bottom: 30px;
}

.title-group_mobile {
	padding-right: 8px;
}
